body {
    width: 100vw;
    font-family: "Montserrat", "Open Sans", sans-serif;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

.wrapper
{
    width: 960px;
    margin: 0 auto;
    position: relative;
}

/*header styling*/
.header {
    padding-top: 50px;
    background-color: rgb(94, 194, 231);
    background-image: url("../images/add-image-bg.png");
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    font-weight: bold;
    color: white;
}

.header .wrapper {
    display: flex;
    flex-direction: column;
}

.header__title {
    font-weight: 700;
    font-size: 28px;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__items {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.nav__item {
    position: relative;
    padding: 0px 15px 0px 15px;
    text-decoration: none;
    color: white;
}

.nav__item-arrowed {
    padding: 0px 35px 0px 15px;
}

.nav__item-arrowed::after,
.nav__item-arrowed::before {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 12px;
    border-radius: 2px;
    background-color: white;
}

.nav__item-arrowed::after {
    top: 4px;
    right: 15px;
    transform: rotate(45deg);
}

.nav__item-arrowed::before {
    top: 4px;
    right: 21px;
    transform: rotate(-45deg);
}

.nav__item span {
    padding-bottom: 5px;
}

.nav__item-underlined span {
    border-bottom: 4px solid white;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
    padding-bottom: 50px;
}

.title__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 77px;
    margin-bottom: 5px;
}

.title__description {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 210px;
}

.title__arrow {
    display: block;
    position: relative;
    width: 46px;
    height: 46px;
    border: 2px solid white;
    border-radius: 50%;
}

.title__arrow div {
    position: absolute;
    width: 2px;
    height: 20px;
    top: 12px;
    left: 22px;
    background-color: white;
}

.title__arrow div::before,
.title__arrow div::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 15px;
    transform: rotate(45deg);
    background-color: white;
}

.title__arrow div::before {
    top: 7px;
    left: 5px;
    transform: rotate(45deg);
}

.title__arrow div::after {
    top: 7px;
    left: -5px;
    transform: rotate(-45deg);
}

/*first slider styling*/
.slider-responsibilities {
    background-color: rgb(244, 244, 244);
}

.slider-responsibilities .wrapper > input {
    display: none;
}

.slider__controls {
    left: 50%;
	margin-left: -98px;
	position: absolute;
}

.slider-responsibilities label {
    cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
    border-radius: 50%;
}

.slider-responsibilities label::after {
    border: 2px solid #ddd;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.slide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 155px;
}

.slide__image {
    width: 340px;
    height: 200px;
}

.slide1 {
    position: relative;
}

.slide1__rect {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}

.slide1__ui {
    top: 95px;
    left: 0px;
    color: white;
    background: rgb(52, 207, 117);
    z-index: 1;
}

.slide1__ux {
    top: 95px;
    left: 140px;
    color: rgb(255, 96, 95);
    background: rgba(231, 231, 231, 0.5);
    z-index: 2;
}

.slide1__ui span,
.slide1__ux span {
    display: inline-block;
    padding-top: 75px;
}

.slide__description {
    width: 460px;
}

.slide__title {
    margin-bottom: 20px;
}

/*portfolio styling*/
.portfolio {
    background-color: rgb(251, 251, 251);
}

.portfolio .wrapper {
    text-align: center;
}

.portfolio__title {
    padding-top: 100px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 75px;
}

.portfolio__title::after {
    content: "";
    display: block;
    height: 3px;
    width: 100px;
    position: relative;
    top: 5px;
    margin: 0 auto;
    background-color: rgb(227, 227, 227);
}

.portfolio-grid-container {
    display: grid;
    grid-template-areas: "i1 bi bi i2"
                         "i3 bi bi i4"
                         "i5 i6 i7 i8";
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 155px 155px 155px;
    row-gap: 25px;
    column-gap: 20px;
    margin-bottom: 30px;
}

.portfolio-grid-container div {
    border-radius: 30px;
}

.portfolio__item {
    position: relative;
    background-image: url("../images/add-image-portfolio.svg");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    z-index: 1;
}

.portfolio__item-content {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10%;
    background-color: rgba(94, 194, 231, 0.6);
    color: white;
    z-index: 2;
}

.portfolio__item-content > .portfolio__item-logo {
    content: url("../images/portfolio-icon.svg");
    width: 32px;
    height: 32px;
    border-radius: 0;
    margin-bottom: 5%;
}

.portfolio__item-name {
    font-size: 16px;
    font-weight: 700;
}

.portfolio__item-description {
    font-size: 13px;
    line-height: 18px;
    font-family: "Open Sans";
    font-weight: 400;
}

.portfolio__item:hover .portfolio__item-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio__item-big {
    grid-area: bi;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 244, 244);
}

.portfolio__item-1 {
    grid-area: i1;
    background-color: rgb(244, 244, 244);
}

.portfolio__item-2 {
    grid-area: i2;
    background-color: rgb(244, 244, 244);
}

.portfolio__item-3 {
    grid-area: i3;
    background-color: rgb(244, 244, 244);
}

.portfolio__item-4 {
    grid-area: i4;
    background-color: rgb(244, 244, 244);
}

.portfolio__item-5 {
    grid-area: i5;
    background-color: rgb(244, 244, 244);
}

.portfolio__item-6 {
    grid-area: i6;
    background-color: rgb(244, 244, 244);
}

.portfolio__item-7 {
    grid-area: i7;
    background-color: rgb(244, 244, 244);
}

.portfolio__item-8 {
    grid-area: i8;
    background-color: rgb(244, 244, 244);
}

.portfolio__browse { 
    display: inline-block;
    text-decoration: none;
    color: rgb(94, 194, 231);
    padding: 10px 30px;
    border: 3px solid rgb(94, 194, 231);
    border-radius: 5px;
    margin-bottom: 80px;
}

.skills {
    background-color: rgb(244, 244, 244);
}

.skills__title {
    padding-top: 100px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 75px;
}

.skills__title::after {
    content: "";
    display: block;
    height: 3px;
    width: 100px;
    position: relative;
    top: 5px;
    margin: 0 auto;
    background-color: rgb(227, 227, 227);
}

.skills__description {
    margin-bottom: 110px;
    font-family: "Open Sans";
    text-align: center;
    color: rgb(102, 102, 102);
}

.skills__visualize {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(102, 102, 102);
    text-align: center;
    padding-bottom: 170px;
}

.skills__visualize h2 {
    font-size: 58px;
    margin-top: 65px;
}

.skills__UI {
    width: 215px;
    height: 215px;
    background: url('../images/skills-ui.png') no-repeat;
    background-size: cover;
}

.skills__frontend {
    width: 215px;
    height: 215px;
    background: url('../images/skills-frontend.png') no-repeat;
    background-size: cover;
}

.skills__UX {
    width: 215px;
    height: 215px;
    background: url('../images/skills-ux.png') no-repeat;
    background-size: cover;
}

.skills__icons {
    width: 215px;
    height: 215px;
    background: url('../images/skills-icons.png') no-repeat;
    background-size: cover;
}

.work{
    padding-top: 140px;
    padding-bottom: 120px;
    background-color: rgb(251, 251, 251);
}

.work__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.work__content {
    width: 340px;
}

.work__title {
    font-size: 28px;
    padding-bottom: 45px;
}

.work__description {
    font-size: 16px;
    line-height: 31px;
    color: rgb(102, 102, 102);
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: rgb(94, 194, 231);
    padding: 10px 30px;
    border: 3px solid rgb(94, 194, 231);
    border-radius: 5px;
    margin-bottom: 80px;
}

.work__companies {
    position: relative;
    width: 480px;
}

.work__companies::before {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 100%;
    left: -30px;
    background-color: rgb(205, 205, 205);
}

.work__date {
    position: relative;
    left: -50px;
    background-color: rgb(251, 251, 251);
    color: rgb(205, 205, 205);
    padding: 5px;
    font-weight: 700;
}

.work__item {
    display: flex;
    flex-direction: row;
    position: relative;
}

.work__item::before {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: -38px;
    width: 14px;
    height: 14px;
    border: 3px solid rgb(205, 205, 205);
    border-radius: 50%;
    background-color: rgb(251, 251, 251);
}

.work__image {
    margin-right: 25px;
}

.work__item-description h3{
    margin-top: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
}

.work__item-description span {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.work__item-description p {
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: rgb(153, 153, 153);
}

.slider-citations {
    background-color: rgb(255, 96, 95);
    color: white;
    font-style: italic;
}

.slider-citations .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide__citation {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
}

.slide__author {
    color: rgb(205, 205, 205);
    font-size: 16px;
    line-height: 36px;
}

.contact {
    padding-top: 90px;
    padding-bottom: 125px;
    background-color: rgb(244, 244, 244);
}

.contact__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact__title {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 75px;
}

.contact__title::after {
    content: "";
    display: block;
    height: 3px;
    width: 100px;
    position: relative;
    top: 5px;
    margin: 0 auto;
    background-color: rgb(227, 227, 227);
}

.contact__form {
    display: grid;
    grid-template-areas:    "name addr addr"
                            "budg budg budg"
                            "time time time"
                            "mess mess mess"
                            "empt empt send";
    grid-template-columns: 300px 140px 140px;
    grid-template-rows: 55px 55px 55px 140px 55px;
    row-gap: 20px;
    column-gap: 15px;
    position: relative;
}

.contact__input {
    color: rgb(153, 153, 153);
    border-color: rgb(231, 234, 238);
    border-radius: 5px;
    border-style: solid;
    padding-left: 50px;
}

.contact__budget,
.contact__timeline {
    position: relative;
    color: rgb(153, 153, 153);
    border-color: rgb(231, 234, 238);
    border-radius: 5px;
    border-style: solid;
    padding-left: 20px;
}

.contact__budget-arrow,
.contact__timeline-arrow {
    position: absolute;
    width: 45px;
    height: 51px;
    background-color: white;
    border-radius: 3px;
    pointer-events: none;
}

.contact__budget-arrow {
    top: 77px;
    right: 2px;
}

.contact__timeline-arrow {
    top: 152px;
    right: 2px;
}

.contact__budget-arrow::before,
.contact__timeline-arrow::before,
.contact__budget-arrow::after,
.contact__timeline-arrow::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 17px;
    width: 3px;
    height: 15px;
    background-color: rgb(205, 205, 205);
    color: rgb(205, 205, 205);
}

.contact__budget-arrow::before,
.contact__timeline-arrow::before {
    transform: rotate(45deg);
    right: 20px;
}

.contact__budget-arrow::after,
.contact__timeline-arrow::after {
    transform: rotate(-45deg);
    right: 29px;
}

.contact__about {
    color: rgb(153, 153, 153);
    border-color: rgb(231, 234, 238);
    border-radius: 5px;
    border-style: solid;
    padding-left: 20px;
    padding-top: 20px;
}

.contact__input:hover,
.contact__budget:hover,
.contact__timeline:hover {
    border-color: rgb(202, 209, 217);
}

.contact__input:active,
.contact__budget:active,
.contact__timeline:active {
    border-color: rgb(136, 211, 255);
    color: black;
}

.contact__name {
    grid-area: name;
    position: relative;
}

.contact__name-icon {
    position: absolute;
    top: 17px;
    left: 15px;
}

.contact__email {
    grid-area: addr;
}

.contact__email-icon {
    position: absolute;
    top: 17px;
    left: 330px;
}

.contact__budget {
    grid-area: budg;
}

.contact__timeline {
    grid-area: time;
}

.contact__about {
    grid-area: mess;
}

.contact__send {
    grid-area: send;
    border: none;
    background-color: rgb(255, 96, 95);
    color: white;
    font-weight: 700;
}

.contact__links {
    width: 190px;
}

.contact__links-title {
    position: relative;
    top: -9px;
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 26px;
    color: rgb(205, 205, 205);
}

.contact__location p {
    margin-bottom: 50px;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 22px;
    color: black;
}

.social a{
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
    color: black;
    text-decoration: none;
    opacity: 0.3;
}

.social a:hover {
    opacity: 1;
}

.social a span {
    position: relative;
    top: -10px;
    left: 20px;
}

.map {  
    position: relative;
    padding-top: 80px;
    padding-bottom: 200px;
    background-color: rgb(56, 188, 236);
    background-image: url("../images/map-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.map .wrapper {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.map__point {
    position: relative;
    left: 50px;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    margin-right: 20px;
}

.map__point::after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    left: 15px;
    border-radius: 50%;
    background-color: rgb(231, 76, 60);
}

.map__badge {
    position: relative;
    left: 50px;
    height: 55px;
    width: 160px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 5px;
}

.map__badge::after {
    content: "";
    display: block;
    position: absolute;
    top: 25px;
    left: -5px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
}

.map__based {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgb(43, 150, 173);
}

.map__location {
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: rgb(43, 150, 173);
}

.footer {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: rgb(54, 56, 66);
}

.footer .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(84, 87, 102);
}

.footer__item-title {
    color: white;
    margin-bottom: 35px;
}

.footer-nav__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-nav__item {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(84, 87, 102);
}

.footer__twitter {
    margin-right: 20px;
    content: url("../images/footer-twitter.png");
}

.footer__twitter:hover {
    content: url("../images/footer-twitter-hover.png");
}

.footer__facebook {
    content: url("../images/footer-facebook.png");
}

.footer__facebook:hover {
    content: url("../images/footer-facebook-hover.png");
}